<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<app-insert-product></app-insert-product>
-->
<mat-sidenav-container>
  <mat-sidenav #menu mode="push" closed class="side-container">
    <h1>
      <img
      class="image"
        width="50%"
        height="50%"
        style="padding-left: 25%"
        src="assets/images/ico.png"
      />
    </h1>
    
    <div *ngIf="this.userInfo.isCompany()">
      <button mat-button routerLink="/new_product">
        <mat-icon
        class="menu-icon"
        aria-hidden="false"
        aria-label="Menu
        Icon"
        >fastfood</mat-icon
        >
        <span>Añadir Alimento</span>
      </button>
      <br />
    </div>
    
    <div div *ngIf="this.userInfo.isAdmin()">
      <button mat-button routerLink="/new_habit" (click)="menu.toggle()">
        <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon"
        >accessibility</mat-icon
        >
        <span>Añadir Hábito</span>
      </button>
      <br />
    </div>
    
    <div div *ngIf="this.userInfo.isAdmin()">
      <button mat-button routerLink="/new_company" (click)="menu.toggle()">
        <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon"
        >add</mat-icon
        >
        <span>Añadir Empresa</span>
      </button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content class="MyBox">
    <mat-toolbar class="toolbar-main" >
      <mat-toolbar-row >
        <span>POCKET DOCTOR</span>
        <span class="menu-spacer"></span>
        <div *ngIf="this.userInfo.isLogged()">
          <button mat-button (click)="logout()" >
            <span>Cerrar Sesión</span>
          </button>
          <button mat-button (click)="menu.toggle()">
            <mat-icon
              class="menu-icon"
              aria-hidden="false"
              aria-label="Menu Icon"
              >menu</mat-icon
            >
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
