.porperty-button{
    background-color: green;
}
.box{
  width: 20%;
}
.boxes{
  margin-top: 3%;
  margin-left: 5%;
  float: left;
}
.container{
  margin-top: 3%;
  margin-right: 5%;
  width: 72%;
  height: 60%;
  float: right;
  
}
.cardProperties{
  margin-bottom: 1%;
}
